@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Amaranth");


#home_header {
  font-family: 'Amaranth', sans-serif;
  font-size: 96px;
  color: white;
}

#url_input {
  width: 550px;
  height: 45px;
}

#title {
  display: flex;
  align-items: center;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #1e3799); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f2027, #203a43, #1e3799); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100px;
}
#search_bar {
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
}
#search_header {
  font-family: 'Amaranth', sans-serif;
  font-size: 48px;
  color: white;
}

#url_row {
  height:600px;
}

#home_body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #1e3799); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f2027, #203a43, #1e3799); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#search_body {
  background-color: white;
}
#content_row {
  padding-left: 100px;
  padding-right: 100px;
}

#search_column {
  display: flex;
  padding: 20px;
  border: 1px solid#1e3799;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #1e3799); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f2027, #203a43, #1e3799);
}

#search_input {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#results_box {
  border-left: 5px solid#1e3799;
  padding: 5px;
  height: 100%;
  background-color: #e6e6e6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#timestampCards {
  height: 50px;
}

#inverted_segment {
  border: 1px solid white;
}

#results_header {
  font-weight: bold;
  font-size: 20px;
}
